$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  text-align: center;
}

body {
  background-image: url('http://i.imgur.com/EPvZWA2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.game-prompt {
  font-size: 20px;
  text-align: center;
}

.sign-in-prompt {
  font-size: 20px;
  text-align: center;
}

.new-game-prompt {
  font-size: 20px;
  text-align: center;
}

.user-city-message {
  font-size: 20px;
  text-align: center;
  background:rgba(255,255,255, 0.65);
}

.btn-container {
  margin: auto;
  text-align: center;
}

.button-functions {
  margin: auto;
  text-align: right;
}

.content {
  background:rgba(255,255,255, 0.65);
  display: inline-block;
}

.collection {
  margin-top: 40px;
}
